h1 {
  color: red;
}

h2 {
  color: green;
}

button {
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

#buttons {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 200px;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  align-items: center;
}

#santa {
  width: 400px;
}

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
